{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% block content %}

    <!-- services part here -->
    <section class="cta_section contact_page section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay=".3s">
                    <div class="cta_section_wrapper">

                        <img src="{% static 'img/cta_img.png' %}" alt="#" class="img-fluid">
                        <div class="contact_form form_style">
                            <h2 class="kid_title mb-4">
                                <span class="title_overlay_effect">
                                    {% trans "Please login to continue" %}
                                </span>
                            </h2>

                            <a href="{% provider_login_url "keyrockprovider" next="/" action="reauthenticate" %}"
                               class="btn pc-button elementor-button button-link cu_btn">
                                <div class="button-content-wrapper">
                                    <span class="elementor-button-text">{% trans "KeyRock Login" %}</span>
                                    <svg class="pc-dashes inner-dashed-border animated-dashes">
                                        <rect x="5px" y="5px" rx="25px" ry="25px" width="0" height="0"></rect>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="cta_animation_1">
            <div data-parallax='{"x": 2, "y": 120, "rotateZ":0}'><img src="{% static 'img/icon/cta_1.png' %}" alt="#"></div>
        </div>
        <div class="cta_animation_2">
            <div data-parallax='{"x": 10, "y": 100, "rotateZ":0}'><img src="{% static 'img/icon/event_7.png' %}" alt="#">
            </div>
        </div>
        <div class="cta_animation_3">
            <div data-parallax='{"x": 30, "y": 110, "rotateZ":0}'><img src="{% static 'img/icon/cta_3.png' %}" alt="#">
            </div>
        </div>
        <div class="cta_animation_4">
            <div data-parallax='{"x": 5, "y": 105, "rotateZ":0}'><img src="{% static 'img/icon/banner_two_3.png' %}" alt="#"></div>
        </div>
    </section>
    <!-- services part end -->

{% endblock %}