{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/components.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script>
        window.STATIC_ROOT = '/static';
        window.COMPONENT_CALLBACKS = {};
    </script>
    <script src="{% static 'js/components/leaderboard.js' %}"></script>
    <script src="{% static 'js/components.js' %}"></script>

    <script src="https://unpkg.com/mappa-mundi@0.0.5/dist/mappa.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js" type="text/javascript"></script>

{#    <script src="{% static 'js/maps.js' %}"></script>#}
{% endblock %}