{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static '/css/components.css' %}?v=20220102.1" rel="stylesheet">
    <link href="{% static '/css/leaderboard.css' %}?v=20200310.1" rel="stylesheet">

    {% block extra_css %}{% endblock %}
{% endblock %}

{% block js %}
    <script>
        window.STATIC_ROOT = '/static';
        window.COMPONENT_CALLBACKS = {};
        window.CHART_THEME = "light";

        {% if request.user.is_authenticated %}
            window.USER = {
                name: '{{ request.user.first_name }}',
                meterNumber: '{{ meter_info.meter_number }}'
            };
        {% endif %}
    </script>
    {% include 'translations.html' %}
    <script src="{% static '/js/components/report.js' %}?v=20220122.1"></script>
    <script src="{% static '/js/components/consumption.js' %}"></script>
    <script src="{% static '/js/components/leaderboard.js' %}?v=20220102.1"></script>
    <script src="{% static '/js/components/message.js' %}?v=20220102.1"></script>
    <script src="{% static '/js/components.js' %}?v=20220122.1"></script>

    <script src="https://unpkg.com/mappa-mundi@0.0.5/dist/mappa.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js" type="text/javascript"></script>

{#    <script src="{% static 'js/maps.js' %}"></script>#}
    {% block extra_js %}{% endblock %}
{% endblock %}