{% extends "dashboard-base.html" %}

{% block content %}
    <div class="row">
        <div class="col col-lg-7 col-xs-12">
            <div class="leaderboard--container">
                <h1>Weekly Water Consumption</h1>
                <div id="component-weekly_consumption_by_meter" class="data-item data-component"></div>
            </div>
        </div>
        <div class="col col-lg-5 col-xs-12">
            <div class="comparison--container">
                <div id="chart-you_vs_others" class="data-item data-chart" style="margin-top: 80px;"></div>
                <div id="component-message" class="data-item data-component"></div>
            </div>
        </div>
    </div>
{% endblock %}