{% extends "dashboard-base.html" %}

{% block content %}
    <div class="row">
        <div class="col col-lg-7 col-xs-12">
            <div class="leaderboard--container">
                <div id="chart-weekly_change" class="data-item data-chart data-component" style="height: 500px;margin-top: 20px;"></div>
            </div>
        </div>
        <div class="col col-lg-5 col-xs-12">
            <div class="comparison--container">
                <div id="chart-you_vs_others_weekly_change" class="data-item data-chart" style="margin-top: 80px;"></div>
                <!--<div id="component-message" class="data-item data-component"></div> -->!
            </div>
        </div>
    </div>
{% endblock %}
