{% load i18n %}

<script>
    window.MESSAGES = {
        consumption: {
            thisWeek: "{% trans 'This week' %}",
            thisWeekConsumptionAt: "{% trans 'This week consumption at' %}",
            lastWeek: "{% trans 'Last week' %}",
            lastWeekConsumptionAt: "{% trans 'Last week consumption at' %}",
            thisVsLastWeek: "{% trans 'This week vs last week consumption' %}"
        },
        leaderboard: {
            mySchool: "{% trans 'My School' %}"
        },
        report: {
            startingExport: "{% trans 'Starting export' %}",
            generatingPDF: "{% trans 'Generating PDF' %}",
            weeklyTitle: "{% trans 'Water Consumption weekly report' %}"
        },
        components: {
            decrease: "{% trans 'Decrease' %}",
            increase: "{% trans 'Increase' %}",
            totalConsumptionPerHour: "{% trans 'Total consumption per hour' %}",
            consumptionLt: "{% trans 'Consumption (lt)' %}",
            consumptionLtPerUser: "{% trans 'Consumption per student (lt)' %}",
            totalWeeklyConsumption: "{% trans 'Total weekly consumption' %}",
            mySchoolVsOthers: "{% trans 'My School vs. Others' %}",
            totalConsumptionPerDay: "{% trans 'Total consumption per day' %}",
            monthlyConsumption: "{% trans 'Monthly Consumption' %}",
            noData: "{% trans 'The chart contains no data' %}",
            error: "{% trans 'An error occurred when loading data for' %}"
        },
        days: {
            0: "{% trans 'Monday' %}",
            1: "{% trans 'Tuesday' %}",
            2: "{% trans 'Wednesday' %}",
            3: "{% trans 'Thursday' %}",
            4: "{% trans 'Friday' %}",
            5: "{% trans 'Saturday' %}",
            6: "{% trans 'Sunday' %}"
        },
        tweets: {
            postedAt: "{% trans 'posted at' %}",
            loading: "{% trans 'Loading' %}",
            posting: "{% trans 'Posting' %}",
            success: "{% trans 'Thank you for your feedback! Your comment will be reviewed by your school\'s moderator.' %}",
            postThoughtsHere: "{% trans 'Post your thoughts here' %}",
            post: "{% trans 'Post' %}"
        }
    };
</script>
