{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>Naiades Dashboard</title>

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'vendor/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/base.css' %}?v=20200208.1" rel="stylesheet">

    {% block css %}
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    NAIADES
                    <span></span>
{#                    <img src="{% static 'img/logo.jpg' %}" height="35" style="margin: 0 60px;"/>#}
                </a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-left">
                <li>
                    <a href="{% url "leaderboard" %}">Leaderboard</a>
                </li>
                <li>
                    <a href="{% url "statistics" %}">Statistics</a>
                </li>
                <li>
                    <a href="{% url "reduction" %}">Reduction</a>
                </li>
                 <li>
                    <a href="{% url "consumption" %}">Consumption</a>
                </li>
                <li>
                    <a href="{% url "report" %}">Report</a>
                </li>
                <li>
                    <a href="{% url "feed" %}">Feed</a>
                </li>
                {% if request.user.is_authenticated and request.user.is_superuser %}
                    <li>
                        <div style="padding: 10px 20px;">
                            <a class="btn btn-sm btn-default" href="/admin/"
                                style="min-height: 0; padding: 5px; margin: 0 40px;">
                                <i class="fa fa-list" style="margin-right: 10px;"></i>Admin interface
                            </a>
                        </div>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-top-links navbar-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>
                            {% if request.user.first_name %}
                                {{ request.user.first_name }}
                            {% elif request.user.username %}
                                {{ request.user.username }}
                            {% else %}
                                Guest
                            {% endif %}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'login' %}"><i class="fa fa-sign-out fa-fw"></i> Login</a>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>

        <div id="page-wrapper" style="min-height: calc(100vh - 50px);">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- AmCharts JavaScript -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/chalk.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>

    <!-- Bootrstrap forms -->
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/datatables.js' %}"></script>

    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    {% block js %}
    {% endblock %}
</body>

</html>
