{% load i18n %}

<div class="tabcontent row d-none" id="consumption-change-weekly">
    <div class="col col-lg-7 col-xs-12">
        <div class="leaderboard--container">

            <div class="section_tittle_style_02">
                <h2 class="title wow fadeInDown" data-wow-delay=".3s"> <span class="title_overlay_effect">
                    {% trans "Consumption change since last week" %}
                </span></h2>
                <p class="description wow fadeInDown" data-wow-delay=".3s">
                    <i class="fa fa-info-circle" style="color: #FFFFFF; font-size: 0.5em;"></i>
                    {% blocktrans %}
                        In this chart, you can see schools ranked based
                        on their water consumption change in the last seven days
                    {% endblocktrans %}
                </p>
            </div>

            <div id="chart-weekly_change" class="data-item data-chart data-component" style="height: 800px;margin-top: 20px;"></div>
        </div>
    </div>
    <div class="col col-lg-5 col-xs-12">
        <div class="comparison--container">
            <div class="section_tittle_style_02">
                <h2 class="title wow fadeInDown" data-wow-delay=".3s"> <span class="title_overlay_effect">
                    {% trans "My school vs others" %}
                </span></h2>
                <p class="description wow fadeInDown" data-wow-delay=".3s">
                    <i class="fa fa-info-circle" style="color: #FFFFFF; font-size: 0.5em;"></i>
                    {% blocktrans %}
                        Comparison of my school vs other
                        regarding the water consumption change in the last seven days
                    {% endblocktrans %}
                </p>
            </div>
            <div id="chart-you_vs_others_weekly_change" class="data-item data-chart data-component" style="height: 500px;margin-top: 20px;"></div>
             <div id="component-message_change" class="data-item data-component"></div>
        </div>
    </div>
    <!--<div class="col col-xs-12">
        <div id="component-message_change" class="data-item data-component"></div>
    </div> -->
</div>
