.amchart {
    height: 400px;
    margin-bottom: 20px;
}

.amchart.loading {
    text-align: center;
    font-size: 40px;
}

.amchart.error {
    color: #e74c3c;
    text-align: center;
}

a[href="http://www.amcharts.com"] {
    display: none !important;
}