.leaderboard--container > h1 {
    text-align: center;
    padding: 40px 0;
}

.leaderboard > div {
    padding: 20px 32px;
    position: relative;
}

.leaderboard >div.my-school {
    background: #555;
    border-radius: 56px;
}

.leaderboard > div > * {
    display: inline-block;
}

.leaderboard > div > .position {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #1ac61a;
    color: white;
    text-align: center;
    font-size: 28px;
}

.leaderboard > div > .position.top-three {
    background: white;
}

.leaderboard > div > .position.top-three img {
    width: 30px;
}

.leaderboard > div > .info {
    width: 200px;
    padding: 0 20px;
}

.leaderboard .progress-container {
    width: calc(100% - 400px);
    position: relative;
    height: 40px;
    margin: 0 20px;
    overflow: hidden;
}

.leaderboard .progress-container .bar {
    background: #1ac61a;
    height: 100%;
    border-radius: 6px;
    display: inline-block;
}

.leaderboard .progress-container .value {
    color: white;
    left: 0;
    top: 0;
    text-align: center;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 10px;
    font-size: 12px;
    position: absolute;
}

.leaderboard >div.my-school span.my-school {
    vertical-align: top;
    padding: 0 10px;
    margin-top: 10px;
    background: #00a1ff;
    border-radius: 12px;
}

#main-message {
    text-align: center;
    font-size: 18px;
}

#main-message > span {
    display: block;
    padding: 10px 40px 10px 10px;
    margin-left: 90px;
    margin-right: 20px;
    box-shadow: 0 0 3px white;
    border-radius: 20px;
}

#main-message > span > i.fa {
    margin-right: 20px;
}
