{% extends "dashboard-base.html" %}

{% load static %}

{% block extra_css %}
    <link href="{% static 'css/tweets.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="row">
        <!-- Tab links -->
        <div class="tab">
          <button class="tablinks" onclick="openLeaderBoard(event, 'Community')" id="defaultOpen">Community</button>
          <button class="tablinks" onclick="openLeaderBoard(event, 'School')">School</button>
        </div>
         <!-- Tab content -->
        <div class="col-xs-12 tabcontent" id="Community">
            <h1>Community Posts</h1>
            <div id="tweet-feed"></div>
        </div>

        <div class="col-xs-12 tabcontent" id="School">
            <h1>School Posts</h1>
            <div id="tweet-feed-school"></div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/tweets.js'%}"></script>
{% endblock %}
